h1 {
  text-align: center;
  margin-top: 3%;
}
h4 {
  text-align: center;
  margin-top: 3%;
}
#card1 {
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
}

p{
  text-align: justify;
}
#dueunterschrift {
  margin-top: 15%;
  margin-bottom: 2%;


}
#dueunterschrift2 {
  margin-top: 15%;
  margin-bottom: 2%;


}
#dueunterschrift3 {
  margin-top: 15%;
  margin-bottom: 2%;
}

#btnsavedsche {
  margin-bottom: 5%;
  margin-left: 65%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
}

#btnsavedsche:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}

#btnsavedsche1 {
  margin-bottom: 5%;
  margin-left: 3%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
}

#btnsavedsche1:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}

#btnpdfdsche {
  margin-bottom: 5%;
  margin-left: 78%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
}

#btnpdfdsche:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}
