<!-- Grid container -->

<footer style="background-color: rgba(158, 162, 162, 0.1); color: chocolate;">
  <div class="text-center">
    <!--Grid row-->
    <div class="row pt-md-4 pt-sm-4">

      <div class="col-lg-2 col-md-4 mt-lg-2 mb-md-3 mb-sm-3">
        <br>
        <br>
        <h6>
          <a routerLink="/impressum">IMPRESSUM</a>
        </h6>
      </div>
      <div class="col-lg-2 col-md-12 mb-md-3 mb-sm-3 p-1">
        <br>
        <br>
        <h6>
          <a routerLink="/agb">AGB</a>
        </h6>
      </div>

      <div class="col-lg-2 col-md-12 mb-md-3 mb-sm-3 p-1">
        <br>
        <br>
        <h6>
          <a routerLink="/datenschutz">DATENSCHUTZ</a>
        </h6>
      </div>

      <div class="col-lg-2 col-md-12 mb-md-3 mb-sm-3 p-1">
        <br>
        <br>
        <h6>
          <a routerLink="/anschrift">ANSCHRIFT</a>
        </h6>
      </div>

      <div class="col-lg-2 col-md-12 mb-md-3 mb-sm-3 p-1">
        <br>
        <br>
        <h6>
          <a routerLink="/faq">FAQ</a>
        </h6>
      </div>


      <div class="col-lg-2 col-md-5 mb-md-3 mb-sm-3 p-1">
        <img src="../../../assets/LogoSchriftUnten.png" alt="Institut für Arbeitsfähigkeit">
      </div>

    </div>
  </div>
  <div class="text-center mr-4 ml-4">
    <div class="border-top p-3"><h6 style="color: darkred">© BEM Digital</h6></div>

  </div>
</footer>
