#card1 {
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
  width: 80%;
}
input{
  width: 90%;
  margin-left: 5%;
}

label {
  margin-left: 5%;
  margin-top: 2%;
}

#eintrag1 {
  background-color: #dee2e6;
}
#eintrag2 {
  background-color: #dee2e6;
}
h1 {
  margin-top: 3%;
  text-align: center;
}
h4 {
  margin-top: 0.5%;
  text-align: center;
}

#dueunterschrift{
  margin-top: 15%;
  margin-bottom: 2%;
}

#btnsavespfe {
  margin-bottom: 2%;
  margin-left: 65%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;

}

#btnsavespfe:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;

}

#btnsavespfe1 {
  margin-bottom: 2%;
  margin-left: 78%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;

}

#btnsavespfe1:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;

}

#btnpdfspfe {
  margin-bottom: 2%;
  margin-left: 3%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
}

#btnpdfspfe:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}

#line{
  margin-left: 2%;
}
span{
  margin-left: 5%;
  margin-bottom: 2%
}
p{
  margin-left: 5%;
}
