.container {
  width: 50%;
  padding-top: 5%;
}
button{
  margin-left: 40%;
  background-color: chocolate;
  border-color: chocolate;
  color: white;
}
button:hover{
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}
