h1 { margin-top: 3%;
  text-align: center;
}
input {
  width: 90%;
  margin-left: 5%;
}
#card1 {
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
}
#card3 {
  margin-top: 3%;
  margin-bottom: 3%;
}

label {
  margin-left: 5%;
  margin-top: 2%;
}
textarea {
  width: 90%;
  margin-left: 5%;
}
.btn-group {
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#info {
  margin-bottom: 3%;
}

#alter{
  width: 25%;
}
p{
  margin-left: 5%;
}
h3 {
  margin-top: 3%;
  margin-bottom: 1%
}

#btnpdfagp {
  margin-bottom: 2%;
  margin-left: 78%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
}

#btnpdfagp:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}


#btnsavealyp {
  margin-bottom: 2%;
  margin-left: 65%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
}

#btnsavealyp:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}

#btnsavealyp1 {
  margin-bottom: 2%;
  margin-left: 3%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
}

#btnsavealyp1:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}
