<div class = 'row m-0 w-100 d-flex flex-column sticky-footer-wrapper min-vh-100'>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2>Secret zurücksetzen</h2>
        <p>Bitte erstellen Sie ein neues Secret:</p>
      </div>
      <div class="col-12">
        <form class="form-flex" [formGroup]="resetForm" (ngSubmit)="reset()" >
          <div class="form-group">
            <input formControlName="secret" type="secret" placeholder="Secret"
                   name="secret" id="secret" class="form-control" aria-required="true"
                   required>
            <div class="validator-message" *ngIf="resetForm.get('secret').hasError('hasNumber')">Das Secret muss aus mind. einer Nummer bestehen.</div>
            <div class="validator-message" *ngIf="resetForm.get('secret').hasError('minlength')">Mindestens 6 Ziffern.</div>
          </div>
<br>
          <div class="form-group">
            <input formControlName="confirmSecret" type="secret" placeholder="Secret bestätigen"
                   name="confirmSecret" id="confirmSecret" class="form-control" aria-required="true"
                   required>
            <div class="validator-message" *ngIf="resetForm.get('confirmSecret').hasError('validator')">Die Secrets stimmen nicht überein.</div>
          </div>
          <br>
          <button class="btn btn-lg btn-dark btn-block" type="submit">Zurücksetzen</button>
        </form>
        <br>
        <div class="col-12 text-center" *ngFor="let alert of alerts">
          <alert (onClosed)="onCloseNotification(alert)">{{ alert.msg }}</alert>
        </div>
      </div>
    </div>
  </div>
</div>
