<div class="container d-flex flex-column sticky-footer-wrapper min-vh-100">
  <br>
  <h1>Impressum</h1>
  <h3> Institut für Arbeitsfähigkeit GmbH - Giesert, Liebrich, Reuter </h3>
  <br>
  <br>
  <h5> Firmensitz Mainz </h5>
  <h5> Fischtorplatz 23 </h5>
  <h5> D-55116 Mainz</h5>
  <br>
  <br>

  <h5> <i-bs name="telephone-fill" style="color: chocolate" width="1.5em"
             height="1.5em" title="logout"></i-bs>      Telefon: </h5>
  <p>
    <a href="tel:+49-6131-60-39-840">+49 (0)6131 6039840 </a>
  </p>
  <br>
  <h5> <i-bs name="printer-fill" style="color: chocolate" width="1.5em"
             height="1.5em" title="logout"></i-bs>      Fax:</h5>
  <p> <a href="fax:+49-6131-60-39-841"> +49 (0)6131 6039841 </a> </p>
  <br>
  <h5> <i-bs name="envelope-fill" style="color: chocolate" width="1.5em"
             height="1.5em" title="logout"></i-bs>      Mail:</h5>
  <p> <a href="mailto:gutentag@arbeitsfaehig.com">gutentag@arbeitsfaehig.com </a></p>
  <br>
  <h5>www.arbeitsfaehig.com</h5>

  <br>
  <br>
  <h5> Vertreten durch:</h5>
  <p> Geschäftsführung <br> <a href="mailto:marianne.giesert@arbeitsfaehig.com">Mariane Giesert, </a> <br>
    <a href="mailto:anja.liebrich@arbeitsfaehig.com">Dr. Anja Liebrich, </a> <br>
    <a href="mailto:tobias.reuter@arbeitsfaehig.com">Tobias Reuter </a>
    <br>
    Handelsregister Mainz, HRB 45013 <br>
    Registergericht: Amtsgericht Mainz <br>
    Umsatzsteuer-Identifikationsnummer <br>
    gemäß § 27a Umsatzsteuergesetz: DE292215488 <br>

    <br>
    Informationen zum Datenschutz finden Sie hier: </p>
  <a routerLink="/datenschutz">DATENSCHUTZ</a>
    <br>

  <p>
    Die Institut für Arbeitsfähigkeit GmbH - Giesert, Liebrich, Reuter verwendet Fotomaterial von folgenden Bilddatenbanken bzw. Quellen: <br>
    Landeshauptstadt Mainz, istockphoto.de, thinkstockphoto.de, fotolia.de
  </p>
  <br>
  <h5>Haftung für Inhalte</h5>
  <p>
    Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
  </p>
  <br>
  <h5>Haftung für Links </h5>
  <p>
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.

  </p>
  <br>
  <h5>Urheberrecht</h5>
  <p>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
  </p>
  <br>
  <h5> Streitbeilegungsverfahren</h5>
  <p>
    Die Euroäische Kommission stellt eine Plattform für die außergerichtliche Online-Streitbeilegung (OS-Plattform) bereit, aufrufbar unter https://ec.europa.eu/odr. <br>
    Die Firma ist nicht bereit, an Streitbeilegungsverfahren vor Verbraucherschlichtungsstellen teilzunehmen.
  </p>
  <br>
  <p> Quellen: Disclaimer von eRecht24, dem Portal zum Internetrecht von Rechtsanwalt Sören Siebert</p>
  <br>
  <i-bs name="laptop" style="color: chocolate" width="1.8em"
        height="1.8em" title="logout"></i-bs>
  <h5>Gestaltung und Programmierung der Webseite:</h5>
  <p>
    Dilara Avci, Kübra Cetin, Laura Wresch, Laura Reinke, Ana Skaro, <br> Radmila Heizenreder, Katrin Beisken, Franziska Pahlke <br>
    HTW Berlin
  </p>

</div>
