<div class = 'row m-0 w-100 d-flex flex-column sticky-footer-wrapper min-vh-100'>
  <div class="container-lg" style="width: 50%">
    <form [formGroup]="loginForm" name="form" (ngSubmit)="login()" novalidate>
      <div class="card-header" style="margin-top: 13%">
        <h1 class="h3 mb-3 font-weight-normal">Anmelden</h1>
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="sr-only">E-Mail</label>
        <br>
        <input formControlName="email" type="email" placeholder="E-Mail"
               name="email" id="email" class="form-control"
               aria-required="true" required>
        <div *ngIf="f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">E-Mail ist ein Pflichtfeld.</div>
      </div>
         <br>
         <label class="sr-only">Passwort</label>
         <br>
         <input formControlName="password" type="password" placeholder="Password"
                name="password" id="password" class="form-control" aria-required="true"
                required>
      <div *ngIf="f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Passwort ist ein Pflichtfeld.</div>
      </div>
        <br>
        <div class="row">
          <div class="col">
            <button id="signin" class= 'btn btn-outline-info' type = "submit" value = "Login">Anmelden</button>
          </div>
          <div class="col">
            <button id="resetpw" class="btn btn-outline-info" [routerLink]="['/forgot-password']">Passwort vergessen?</button>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>

