<div class = 'row m-0 w-100 d-flex flex-column sticky-footer-wrapper min-vh-100'>
  <div class="container-lg" style="width: 50%">
    <div class="card-header" style="margin-top: 13%">
      <h2>Haben Sie Ihr Passwort vergessen?</h2>
      <br>
      <p>Bitte fügen Sie Ihre E-Mail-Adresse hier ein, damit Sie einen Link zum Zurücksetzen des Passwortes erhalten können.</p>
    </div>
    <br>
    <div class="col-12">
      <form class="form-flex" [formGroup]="forgotForm" (ngSubmit)="forgot()" >
        <div class="form-group">
          <input formControlName="email" type="email" placeholder="E-Mail"
                 name="email" id="email" class="form-control" aria-required="true" required>
          <br>
          <div class="validator-message" *ngIf="forgotForm.get('email').hasError('email')">Sie müssen eine gültige E-Mail-Adresse verwenden.</div>
        </div>
        <button class="btn btn-outline-info" type="submit" id="submit">Absenden</button>
      </form>
    </div>
  </div>
</div>

