#card1 {
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
}

#btnsavevba {
  margin-bottom: 2%;
  margin-left: 65%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
}

#btnsavevba:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}
#btnsavevba1 {
  margin-bottom: 2%;
  margin-left: 78%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
}

#btnsavevba1:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}

#btnpdfvba {
  margin-bottom: 2%;
  margin-left: 3%;
  width: 10%;
  color: white;
  border-color: chocolate;
  background-color: chocolate;
}

#btnpdfvba:hover {
  border-color: chocolate;
  background-color: white;
  color: chocolate;
}
p {
  margin-left: 5%;
  width: 90%;
}
label{
  margin-left: 5%;
}
input{
  margin-left: 5%;
  width: 80%;
}
h4{
  margin-left: 5%;
}
h5 {
  margin-left: 5%;
  width: 90%;
}
h1{
  text-align: center;
}
