<div class="container d-flex flex-column sticky-footer-wrapper min-vh-100">
  <br>
  <div class="card">
  <br>
  <h1 style="text-align: center">Anschrift:</h1>
  <br>
  <h2 style="text-align: center"> Institut für Arbeitsfähigkeit GmbH </h2>
  <h2 style="text-align: center"> Fischtorplatz 23 </h2>
  <h2 style="text-align: center"> 55116 Mainz</h2>
  <br>
    <div class="text-center mr-4 ml-4">
      <img src="../../../../assets/SignetOhneHintergrund.png" alt="Institut für Arbeitsfähigkeit">
    </div>
    <br>

</div>
</div>
